:root {
    --top-nav-height: 64px;
    --side-nav-width: 260px;
}

body {
    margin: 0;
    padding: 0;
    background: #f3f2f2;
}

/* TOP NAV */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: var(--top-nav-height);
    z-index: 1000;

    background: #ffffff;
    border-bottom: 1px solid #1f1f1f;
}

/* LEFT NAV */
.container {
    position: fixed;
    top: var(--top-nav-height);
    left: 0;

    width: var(--side-nav-width);
    height: calc(100vh - var(--top-nav-height));

    overflow-y: auto;

    background: #ffffff;
    border-right: 1px solid #1f1f1f;
}

/* RIGHT NAV */
.container-right {
    position: fixed;
    top: var(--top-nav-height);
    right: 0;

    width: var(--side-nav-width);
    height: calc(100vh - var(--top-nav-height));

    overflow-y: auto;

    background: #ffffff;
    border-left: 1px solid #1f1f1f;
}

/* MAIN CONTENT */
.paragraph {
    margin-top: var(--top-nav-height);
    margin-left: var(--side-nav-width);
    margin-right: var(--side-nav-width);

    padding: 40px;

    line-height: 1.7;
    max-width: 1270px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 0 300px 0 300px;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Zalando Sans SemiExpanded, sans-serif;
}

.paragraph-text {
    font-family: Merriweather, sans-serif;
}
.paragraph-list {
    text-align: left;
    font-family: Merriweather, sans-serif;
}

.aaaa {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img {
    height: 160px;
    width: 160px;
    border-radius: 4px;
    margin: 40px;
}

.img:hover {
    scale: 1.1;
}
